#collapseProduits,
#collapseCategory {
    border: 1px solid rgb(0, 113, 128);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
    // background-color: rgba(197, 218, 180, 0.582);
    padding: 20px;
}