// NUANCIER VERT

$colorDarkGreen: #2fa836;
$colorLightGreen:#89bd28;
$colorYellow: #ddba00;
$colorBrown: #a64917;
$colorblack: rgb(0, 0, 0);
$colorGreenBoxshadow: rgba(150, 228, 134, 0.63);
$colorBorderTable: rgb(29, 99, 9);


// BOUTON FOND TRANSPARENT

$colorButton: rgba(73, 45, 9, 0);